@model SORT_doc_app.Models.Project

@{
    ViewBag.Title = "DocumentHistory";
}

<h2>Document History</h2>

<p>History of SORT DOC Number @Model.ID </p>

@Html.ActionLink("Return to SORT Doc", "Details", new { id = @Model.ID })

@Html.Partial("_history")
