
@{
    ViewBag.Title = "EventHistory";
}

<h2>Activity Feed</h2>

<h4>Recent Events</h4>

<p>Filter by Project Number</p>
<p>Filter by Event Type (dropdown)</p>
<p>Show All</p>

@Html.Partial("_history")

